body {
    font-family: 'Roboto', 'Arial',  sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;

    min-width: 900px;

    color: #fff;
    background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

h1, h2 {
    font-size: 35px;
    font-weight: bold;
    line-height: 41px;
}

.clearfix::after {
    display: table;
    clear: both;

    content: '';
}

input[type="text"], input[type="email"], input[type="password"], textarea {
    font-size: 14px;
    line-height: 24.3px;

    min-height: 29px;
    padding: 10px 10px;

    color: #323232;
    border: 1px solid rgba(70, 70, 70, .48);
    border-radius: 3px;
}

input[type="text"]:hover, input[type="email"]:hover,
input[type="password"]:hover, textarea:hover {
    padding: 9px 9px;

    border: 2px solid rgba(70, 70, 70, .48);
}

input[type="text"]:focus, input[type="email"]:focus,
input[type="password"]:focus, textarea:focus {
    padding: 9px 9px;
    
    border: 2px solid rgba(46, 136, 228, 0.48);
}

input::-webkit-input-placeholder {
    color: #999;
}

input::-moz-placeholder {
    color: #999;
}

input:-ms-input-placeholder {
    color: #999;
}

.field-wrapper {
    position: relative;

    padding-top: 13px;
}

.field-wrapper > label {
    font-size: 11px;
    line-height: 13px;

    display: none;
}

.field-wrapper input:focus + label,
.field-wrapper textarea:focus + label {
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    margin: 0 0 0 15px;

    color: #5b9ddf;
}

/*slider*/
.site-wrapper {
     min-width: 900px;

    transition: background-image .5s ease, background-color .5s ease;

    background-color: #849d8f;
    background-image: url('../img/slide-1.png');
    background-repeat: no-repeat;
    background-position: center top;
}

.site-wrapper::before,
.site-wrapper::after {
  visibility: hidden;
  
  content: "";
}

.site-wrapper::before {
  background-image: url("../img/slide-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slide-3.png");
}

.slider {
    position: relative;

    margin-bottom: 40px;
    padding-top: 255px;

    text-align: center;

    color: #fff;
}

.slide {
    display: none;
}

.slide-title {
    font-size: 60px;
    font-weight: 800;
    line-height: 60px;

    width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.slide-btn {
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;

    display: inline-block;

    padding: 10px 40px;

    vertical-align: top;
    text-decoration: none;

    color: #fff;
    border-radius: 100px;
    background: #f26843;
    box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
    text-shadow: 0 2px 5px rgba(160, 32, 11, .76);}

.slide-btn:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
    font-size: 0;

    position: absolute;
    z-index: 20;
    bottom: 25px;
    left: 0;
}

.slider-controls label {
    display: inline-block;

    width: 17px;
    height: 17px;
    margin-right: 8px;

    cursor: pointer;
    vertical-align: top;

    border: 2px solid #fff;
    border-radius: 50%;
    background-color: transparent;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #fff;
}
/*slider*/

.main-header {
    margin-bottom: 20px;
    padding-top: 10px;
}

.container {
    width: 870px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    float: left;

    width: 170px;
}

.main-navigation {
    float: left;

    width: 420px;
}

li:hover .sub-menu {
    display: block;
}

.main-menu {
    font-size: 0;

    margin: 0;
    padding: 0;

    list-style: none;
}

.main-menu li {
    position: relative;

    display: inline-block;

    margin: 13px 2px 0 2px;
    padding-bottom: 10px;

    list-style: none;

    vertical-align: top;
}

.main-menu a {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;

    display: block;

    padding: 7px 12px 1px 12px;

    text-decoration: none;

    color: #fff;
    border-bottom: 1px solid #a9bbb1;
}

.main-menu > li:hover > a,
.main-menu > li > .active  {
    padding-bottom: 7px;

    color: #000;
    border-radius: 20px;
    background-color: #f7f6f3;
}

.main-menu > li > .active {
    color: #fff;
    background-color: #d07058;
}

.sub-menu {
    position: absolute;
    z-index: 10;
    top: 40px;
    left: -10px;

    display: none;

    width: 140px;
    padding: 0;

    color: #323232;
    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .6);
}

.sub-menu li {
    display: block;

    margin: 0;
    padding: 0;
}

.sub-menu li:first-child {
    display: block;
    
    border-bottom: 1px solid #d1d0ce;
}

.sub-menu a.sub-menu-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;

    color: #000;
}

.sub-menu a {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    display: block;

    min-height: 28px;
    margin: 0;
    padding: 10px 0 0 20px;

    color: #323232;
    border: 0 none;
}

.sub-menu a:hover {
    color: #323232;
    border-radius: 0;
    background-color: #fbded7;
}

.sub-menu .active {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    display: block;

    min-height: 28px;
    margin: 0;
    padding-top: 10px;
    padding-left: 20px;

    color: #323232;
    background-color: #d07058;
}

.user-block {
    float: left;

    width: 265px;
    padding-left: 15px;
}

.user-block-search,
.user-block-login,
.user-block-cart {
    position: relative;

    display: inline-block;

    padding-top: 4px;
    padding-bottom: 10px;

    vertical-align: bottom;

}

.user-block-btn {
    font-size: 14px;
    line-height: 16px;

    position: relative;

    display: inline-block;
    display: inline-block;

    text-decoration: none;

    color: #fff;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, .2);
}

.user-block-search:hover > .user-block-btn,
.user-block-login:hover > .user-block-btn,
.user-block-cart:hover > .user-block-btn {
    color: #323232;
    background-color: #f8f7f4;
}

.btn-search {
    font-size: 0;

    display: inline-block;

    width: 32px;
    height: 32px;
}

.btn-search::before {
    position: absolute;
    top: 7px;
    left: 7px;

    display: block;

    width: 17px;
    height: 17px;

    content: '';

    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
    background-position: -123px -86px;
}

.user-block-search:hover > .btn-search::before {
    background-position: -123px -113px;
}

.user-block-login {
    margin-left: 7px;
}

.btn-login {
    margin-top: 10px;
    padding: 8px 15px 8px 43px;
}

.btn-login::before {
    position: absolute;
    top: 6px;
    left: 16px;

    display: block;

    width: 21px;
    height: 19px;

    content: '';

    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
    background-position: -125px -5px;
}

.user-block-login:hover > .btn-login::before {
    background-position: -125px -34px;
}

.user-block-cart {
    margin-left: 7px;
}

.btn-cart {
    margin-top: 10px;
    padding: 8px 35px 8px 45px;
}

.btn-cart::before {
    position: absolute;
    top: 6px;
    left: 17px;

    display: block;

    width: 21px;
    height: 20px;

    content: '';

    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
    background-position: -5px -5px;
}

.user-block-cart:hover > .btn-cart::before,
.user-block-cart > .btn-cart-notempty::before {
    background-position: -36px -5px;
}

.user-block-cart > .btn-cart-notempty {
    padding: 8px 15px 8px 45px;

    color: #323232;
    background-color: #f8f7f4;
}

/*
Menu forms
*/

.user-block-form {
    position: absolute;
    z-index: 10;

    display: none;

    margin: 0;
    padding: 0;

    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .6);
}

.search-form {
    top: 50px;
    left: -285px;

    width: 337px;
    padding: 5px 15px 15px 15px;
}

.search-input-field {
    width: 315px;
    display: block;
}

.user-block-search:hover .search-form {
    display: block;
}

.login-form {
    top: 50px;
    left: -117px;

    width: 260px;
    min-height: 174px;
    padding: 20px;
}

.login-form > button[type="submit"] {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    padding: 10px 25px;

    color: #fefefe;
    border: none;
}

.login-input-field,
.password-input-field {
    display: block;

    width: 240px;
    margin-bottom: 20px;
}

.login-help-links > a {
    font-size: 24px;
    font-size: 13px;

    text-decoration: none;

    color: #323232;
    border-bottom: 1px solid #adacaa;
}

.login-help-links > a:hover {
    color: #ffbc9e;
    border-bottom: 1px solid #ffbc9e;
}

.login-help-links {
    float: right;

    width: 120px;
}

.user-block-login:hover .login-form {
    display: block;
}

.cart-form {
    top: 50px;
    right: 0;

    width: 510px;
    padding: 20px 15px;
}

.cart-list {
    font-size: 13px;
    line-height: 16px;

    color: #7e7e7d;
}

.cart-list-item-remove-icon {
    cursor: pointer;
}

.cart-list td {
    padding: 10px;

    vertical-align: middle;
}

.cart-list-item-img > img {
    border-radius: 50%;
}

.cart-list-item-price > span {
    color: #b2b2b1;
}

.cart-list-total {
    font-size: 16px;
    font-weight: 700;

    position: relative;

    padding: 0 10px;

    text-align: right;

    color: #333;
}

.cart-list-total::before {
    position: absolute;
    top: 0;
    right: 9px;
    left: 6px;

    height: 1px;

    content: '';

    background-color: #adacaa;
}

.cart-form > .cart-btn {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    float: right;

    padding: 10px 25px;

    color: #fefefe;
}

.user-block-cart:hover .cart-form {
    display: block;
}


/*
Menu forms
*/

.work-info {
    float: right;

    width: 200px;
    margin-top: 7px;

    text-align: right;
}

.work-info > div:first-child {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;

    margin-right: 4px;
}

.work-info > div:last-child {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;

    margin-top: 5px;
    margin-right: 3px;
}

.container.main-container {
    width: 860px;
    padding: 0 20px;
}

/*index page*/
.main-banners {
    margin-bottom: 35px;
}

.info-teaser {
    float: left;

    width: 380px;
    min-height: 200px;
    margin-right: 20px;
    padding: 16px 20px;

    background-repeat: no-repeat;
    background-position: 0 0;
}

.info-teaser:last-child {
    margin-right: 0;
}

.info-teaser > h2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;

    margin: 0 0 15px 0;
}

.info-teaser > p {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;

    margin: 0 0 20px 0;
}

.btn {
    cursor: pointer;
    text-align: center;

    border-radius: 30px;
    background: #f26843;
    box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
    text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
}

.btn:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.info-teaser-btn {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    float: right;

    margin: 0;
    padding: 11px 22px;
}

.info-raspberry {
    background-image: url('../img/adv-raspberry.png');
}

.info-chocolate {
    background-image: url('../img/adv-chocolate.png');
}

.main-hits {
    margin-bottom: 40px;
}

.main-hits-item {
    position: relative;

    float: left;

    width: 200px;
    min-height: 280px;
    margin-right: 20px;
}

.hits-item-inner {
    position: relative;

    margin: 0;
    margin-bottom: 7px;
    padding: 0;
}

.hits-item-inner > img {
    width: 200px;
    height: 200px;

    border-radius: 50%;
}

.main-hits-item-inner::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 61px;
    height: 61px;

    content: '';

    background-image: url('../img/hit.png');
}


.hits-item-hover {
    display: none;
}

.hits-item:hover .hits-item-hover {
    position: absolute;
    z-index: 10;
    top: -1%;
    left: -10px;

    display: block;

    width: 220px;
    height: 125%;

    border-radius: 5px;
    background-color: rgba(248, 247, 244, .3);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .15);
}

.hits-item-price {
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;

    position: absolute;
    bottom: 15px;
    left: 0;
}

.hits-item-price > img {
    width: 31px;
    height: 33px;
}

.hits-item-price > span {
    font-size: 45px;

    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

.hits-item-link-wrapper {
    padding: 0 8px;

    text-align: center;
}

.hits-item-link-wrapper > a {
    font-size: 16px;
    line-height: 22px;
    line-height: 18px;

    text-decoration: none;

    color: white;
    border-bottom: 1px solid #a9bbb1;
}

.hits-btn-hover {
    font-size: 18px;
    line-height: 24px;

    position: absolute;
    bottom: 15px;
    left: 20px;

    display: inline-block;

    width: 180px;
    min-height: 34px;
    padding-top: 10px;

    vertical-align: center;
    text-decoration: none;

    color: #fff;
}

.main-hits-item:last-child {
    margin-right: 0;
}

.main-content {
    margin-bottom: 40px;
    padding: 21px 0 20px 20px;

    color: #323232;
    border-radius: 15px;
    background-image: url('../img/waffle-bg.png');
    background-position: 0 0;
}

.main-content-title {
    font-size: 24px;
    line-height: 30px;

    margin: 0 0 6px 0;
}

.main-content-item {
    position: relative;

    display: inline-block;

    width: 345px;
    margin: 0;
    padding-top: 17px;
    padding-bottom: 5px;
    padding-left: 58px;

    vertical-align: top;
}

.main-content-item:nth-child(2n) {
    margin-right: 15px;
}

.main-content-item-ingredients::before {
    position: absolute;
    top: 4px;
    left: 0;

    display: block;

    width: 49px;
    height: 49px;

    content: '';

    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
    background-position: -64px -64px;
}

.main-content-item-ice-cream::before {
    position: absolute;
    top: 4px;
    left: 0;

    display: block;

    width: 49px;
    height: 49px;

    content: '';

    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
    background-position: -5px -64px;
}

.main-content-item-pack::before {
    position: absolute;
    top: 4px;
    left: 0;

    display: block;

    width: 49px;
    height: 49px;

    content: '';

    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
    background-position: -156px -5px;
}

.main-content-item-purchase::before {
    position: absolute;
    top: 4px;
    left: 0;

    display: block;

    width: 49px;
    height: 49px;

    content: '';

    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
    background-position: -67px -5px;
}

.main-news {
    margin-bottom: 40px;
}

.newpost {
    min-height: 184px;

    background-image: url('../img/blog-news-bg.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.newpost > h2 {
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;

    margin: 5px 0;

    color: #5a5a5a;
}

.newpost > a {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;

    display: inline-block;

    margin-right: 100px;

    color: #353535;
    background: rgba(255, 255, 255, .4);
}

.newsletter {
    width: 420px;
    padding: 0;

    background-image: url('../img/newsletter-bg.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.newsletter > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

    color: #5a5a5a;
}

.newsletter-bg {
    margin: 5px;
    padding: 13px 23px;

    color: #5a5a5a;
    border-radius: 20px;
    background-color: #f8f7f4;
}

.newsletter-form {
    padding: 0 0 20px 0;
}

.newsletter-form input {
    font-size: 16px;
    line-height: 24px;

    display: inline-block;

    padding: 5px 15px;

    vertical-align: top;
}

.newsletter .info-teaser-btn {
    position: static;

    display: inline-block;

    padding: 8px 10px 10px 15px;

    vertical-align: top;

    color: #fefefe;
    border: none;
}

.newsletter-form input:hover,
.newsletter-form input:active,
.newsletter-form input:focus {
    padding: 4px 14px;
}

.map {
    position: relative;

    width: 900px;
    margin: 0 auto;
    padding: 0;
}

.map-info {
    position: absolute;
    top: 63px;
    right: 20px;

    width: 277px;
    min-height: 275px;
    padding-top: 30px;
    padding-left: 25px;

    color: #323232;
    border-radius: 10px;
    background-color: #fdfefe;
}

.map-info p {
    font-size: 14px;
    line-height: 20px;

    margin-top: 0;
    margin-bottom: 22px;
}

.map-info b {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.map-info .btn {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    display: inline-block;

    margin-top: 5px;
    padding: 10px 30px;

    text-decoration: none;

    color: #fefefe;
}

/*
feedback
*/

.feedback-overlay {
    display: none;
}

.feedback-overlay-show {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    opacity: .3;
    background-color: #000;
}

.feedback-form {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;

    display: none;

    width: 435px;
    padding: 20px 25px 25px 20px;

    transform: translateX(-50%) translateY(-50%);

    border-radius: 10px;
    background-color: #fefefe;
}

.feedback-form-show {
    display: block;
}

.feedback-form .title {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;

    color: #323232;
}

.feedback-form input {
    width: 100%;
}

.feedback-form .field-wrapper {
    display: block;

    width: 264px;
    margin: 7px 0;
}

.feedback-form textarea {
    width: 420px;
    min-height: 150px;
}

.feedback-form .btn {
    float: right;

    margin: 0;

    border: none;
}

.feedback-close {
    position: absolute;
    top: 10px;
    right: 10px;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;

    border: none;
    background: transparent;
}

.feedback-close::before {
    font-size: 40px;

    position: absolute;
    top: -10px;
    left: 0;

    display: block;

    content: '\00d7';
}

.feedback-close:hover {
    cursor: pointer;
}
/*
feedback
*/


/*footer*/
.main-footer section {
    margin-top: 25px;
    margin-bottom: 25px;
}

.main-footer-social {
    float: left;

    margin-right: 70px;
    padding-top: 5px;
}

.social-btn {
    font-size: 0;

    position: relative;

    display: inline-block;

    width: 32px;
    height: 32px;
    margin-right: 7px;

    vertical-align: bottom;

    opacity: .8;
    border: 4px solid #c2cec7;
    border-radius: 50%;
}

.social-btn:last-child {
    margin-right: 0;
}

.social-btn:hover {
    opacity: 1;
}

.social-btn:active {
    box-shadow: 0 2px 4px #888 inset;
}

.social-btn:active::before {
    top: 2px;
}

.social-btn-twitter::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 32px;
    height: 32px;

    content: '';

    background-image: url('../img/socialsprite.png');
    background-repeat: no-repeat;
    background-position: -5px -47px;
}

.social-btn-instagram::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 32px;
    height: 32px;

    content: '';

    background-image: url('../img/socialsprite.png');
    background-repeat: no-repeat;
    background-position: -47px -5px;
}

.social-btn-facebook::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 32px;
    height: 32px;

    content: '';

    background-image: url('../img/socialsprite.png');
    background-repeat: no-repeat;
    background-position: -5px -5px;
}

.social-btn-vkontakte::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 32px;
    height: 32px;

    content: '';

    background-image: url('../img/socialsprite.png');
    background-repeat: no-repeat;
    background-position: -48px -47px;
}

.main-footer-about {
    float: left;

    width: 140px;
    margin-right: 24px;
}

.main-footer-about > a,
.main-footer-documents > a,
.main-footer-copyright a {
    font-size: 13px;
    line-height: 18px;

    display: inline-block;

    margin-bottom: 0;
    padding: 0;

    text-decoration: none;

    color: #fff;
    border-bottom: 1px solid #abbcb3;
}

.main-footer-about > a {
    margin-left: 20px;
}

.main-footer-about > a:hover,
.main-footer-documents > a:hover,
.main-footer-copyright a:hover {
    color: #ffbc9e;
    border-bottom: 1px solid #ffbc9e;
}

.main-footer-about > a.provider {
    font-weight: 700;

    position: relative;
}

.main-footer-about > a.provider::before {
    position: absolute;
    top: 2px;
    left: -20px;

    width: 15px;
    height: 13px;

    content: '';

    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
    background-position: -125px -63px;
}

.main-footer-documents {
    float: left;

    width: 170px;
    margin-right: 0;
}

section.main-footer-copyright {
    font-size: 11px;

    float: left;

    margin-top: 14px;
    margin-bottom: 24px;
    padding-left: 80px;
}

/*catalog page*/


.work-info.catalog-work-info {
    margin-top: 0;
}

.main-header.catalog-main-header {
    margin-bottom: 0;
}

.breadcrumb {
    float: left;

    margin: 20px 0 0 6px;
    padding: 0;
}

.breadcrumb li {
    font-size: 14px;
    line-height: 16px;

    display: inline-block;

    vertical-align: top;

    color: #c9d4ce;
}

.breadcrumb a {
    font-size: 14px;
    font-size: 14px;
    line-height: 16px;
    line-height: 16px;

    display: inline-block;

    margin-bottom: 0;
    padding: 0;

    text-decoration: none;

    color: #c9d4ce;
    border-bottom: 1px solid #aebeb5;
}

.breadcrumb a {
    text-decoration:underline;

    border: none;
}

.breadcrumb a:hover {
    color: #ffbc9e;
}


.breadcrumb a::after {
    display: inline-block;

    margin-right: 4px;
    margin-left: 7px;

    content: '\00bb';
}

.catalog-title {
    margin-top: 0;
    margin-bottom: 21px;
}
/*Filter*/

.filter-form {
    margin-bottom: 24px;

    color: #fff;
}

.filter-item {
    display: inline-block;

    margin: 0 14px 12px 0;
    padding: 0;

    vertical-align: top;

    border: none;
}

.filter-group-sort {
    width: 195px;
}

.filter-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;

    margin: 10px 15px 7px;
}

.filter-select-field {
    font-weight: 500;

    position: relative;

    height: 36px;

    cursor: pointer;

    border-radius: 30px;
    background-color: #9db1a5;
}

select::-ms-expand {
    display: none;
}

.filter-select {
    position: relative;

    width: 100%;
    height: 36px;
    margin: 0;
    padding: 0 25px 0 10px;

    cursor: pointer;

    color: #fff;
    border: 0 none;
    border-radius: 30px;
    outline: 0 none;
    background-color: transparent;

       -moz-appearance: none;
    -webkit-appearance: none;
}

.filter-select-field:focus,
.filter-select-field:hover,
.filter-select:hover,
.filter-select:active,
.filter-select:focus {
    color: #323232;
    background-color: #fff;
}

.filter-select-arrow::after {
    position: absolute;
    top: 15px;
    right: 15px;

    display: block;

    width: 9px;
    height: 5px;

    content: '';

    background-image: url('../img/filtersprite.png');
    background-repeat: no-repeat;
    background-position: -126px -5px;
}

.filter-select:hover + .filter-select-arrow::after,
.filter-select:active + .filter-select-arrow::after,
.filter-select:focus + .filter-select-arrow::after {
    background-image: url('../img/filtersprite.png');
    background-position: -126px -20px;
}

.filter-radio-field,
.filter-checkbox-field {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;

    box-sizing: border-box;
    padding: 10px 15px;

    border-radius: 30px;
    background-color: rgba(255, 255, 255, .2);
}

.filter-radio,
.filter-checkbox {
    position: relative;

    margin-right: 17px;
    padding-left: 25px;

    cursor: pointer;
}

.filter-radio > input[type='radio'],
.filter-checkbox > input[type='checkbox'] {
    display: none;
}

.filter-checkbox > input[type='checkbox'] + .filter-checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    background-image: url('../img/filtersprite.png');
    background-repeat: no-repeat;
    background-position: -35px -35px;
}

.filter-checkbox > input[type='checkbox']:checked + .filter-checkbox-indicator {
    background-position: -5px -5px;
}

.filter-checkbox:hover > input[type='checkbox'] + .filter-checkbox-indicator {
    background-position: -65px -35px;
}

.filter-checkbox:hover > input[type='checkbox']:checked + .filter-checkbox-indicator {
    background-position: -35px -5px;
}

.filter-checkbox > input[type='checkbox']:checked:disabled + .filter-checkbox-indicator {
    background-position: -65px -5px;
}

.filter-checkbox > input[type='checkbox']:disabled + .filter-checkbox-indicator {
    background-position: -5px -35px;
}

.filter-radio > input[type='radio'] + .filter-radio-indicator {
    position: absolute;
    top: -2px;
    left: 0;

    width: 21px;
    height: 22px;

    background-image: url('../img/filtersprite.png');
    background-repeat: no-repeat;
    background-position: -98px -37px;
}

.filter-radio > input[type='radio']:checked + .filter-radio-indicator {
    background-position: -5px -65px;
}

.filter-radio:hover > input[type='radio'] + .filter-radio-indicator {
    background-position: -98px -69px;
}

.filter-radio:hover > input[type='radio']:checked + .filter-radio-indicator {
    background-position: -36px -65px;
}

.filter-radio > input[type='radio']:checked:disabled + .filter-radio-indicator {
    background-position: -67px -65px;
}

.filter-radio > input[type='radio']:disabled + .filter-radio-indicator {
    background-position: -95px -5px;
}

.filter-btnsubmit-wrapper {
    margin-right: 0;

    vertical-align: bottom;
}

.filter-btnsubmit {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;

    padding: 8px 30px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, .2);
}

.filter-btnsubmit:hover {
    color: #353535;
    background-color: #fff;
}

.filter-btnsubmit:active {
    margin: -2px 0 0 -2px;
    padding: 10px 28px;

    color: #353535;
    background-color: #f8f7f4;
    box-shadow: inset 0 2px 1px 0 #696969;
}

.filter-range-field {
    font-weight: 500;

    width: 190px;
    height: 7px;
    padding: 15px;

    border-radius: 30px;
    background-color: rgba(255, 255, 255, .2);

    align-items: center;
}

.price-controls-scale {
    height: 4px;

    cursor: pointer;

    background-color: rgba(255, 255, 255, .5);
}

.price-controls-bar {
    position: relative;

    height: 4px;
    margin-right: 27%;
    margin-left: 12%;

    background-color: #fff;
}

.price-controls-btn {
    position: absolute;
    top: -9px;

    display: inline-block;

    width: 20px;
    height: 20px;

    cursor: pointer;

    border-radius: 50%;
    background-color: #fff;
}

.price-controls-btn:hover {
    width: 22px;
    height: 22px;
}

.price-controls-min {
    left: 0;
}

.price-controls-max {
    right: 0;
}

.filter-group-fatness {
    margin-right: 0;
}

.filter-checkbox {
    margin-left: 4px;
}

.filter-group-filler {
    margin-right: 9px;
}
/*Filter*/

.catalog-list {
    margin-bottom: 20px;
    padding-left: 5px;
}

.catalog-hits-item {
    position: relative;

    display: inline-block;

    width: 200px;
    min-height: 280px;
    margin-right: 17px;
    margin-bottom: 35px;

    vertical-align: top;
}

.catalog-hits-item:nth-child(4n) {
    margin-right: 0;
}

.pagination {
    text-align: right;
}

.pagination > ul {
    padding: 0;

    list-style: none;

    text-align: right;
}

.pagination li {
    display: inline-block;

    vertical-align: top;
}

.pagination a {
    font-size: 16px;
    line-height: 18px;

    display: inline-block;

    padding: 5px 8px;

    text-align: center;
    vertical-align: top;
    text-decoration: none;

    color: #fff;
}

.pagination a:active,
.pagination .pagination-item-active {
    color: #323232;
    border-radius: 50%;
    background-color: #fff;
}

.pagination a:hover:not(.pagination-btn-arrow)
 {
    background-color: rgba(255, 255, 255, .2);

    border-radius: 50%;
}

.pagination .inactive {
    color: #9db1a5;
}

.pagination .pagination-btn-next,
.pagination .pagination-btn-prev {
    font-size: 30px;
}

.catalog-footer {
    margin-top: 35px;

    border-top: 1px solid #a9bbb1;
}
